.promo {
    padding: 45px 0 260px 0;
    background: url("../img/images/promo_bg.jpg") center (center/cover) no-repeat;

    &__header-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        color: #ffffff;
    }

    &__menu {
        display: flex;
        list-style-type: none;
        align-items: center;
    }

    &__list-item {
        margin-right: 30px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        margin-top: 264px;
    }

    &__subtitle {
        font-family: RobotoSlab;
        font-size: 20px;
        text-transform: none;
        color: #ffffff;
        text-align: center;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .promo {
        &__header-menu {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__logo {
            margin: 0 15px;
        }
        &__title {
            font-size: 42px;
        }
        &__subtitle {
            font-size: 19px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        padding: 45px 0 160px 0;
        &__menu {
            flex-wrap: wrap;
            justify-content: center;
            width: 85vh;
        }
        &__list-item {
            margin: 0 15px;
            &:last-child {
                margin: 0 15px;
            }
        }
        &__title {
            font-size: 38px;
            line-height: 38px;
            margin-top: 164px;
        }
        &__subtitle {
            font-size: 18px;
        }
    }
}

@media (max-width: 380px) {
    .promo {
        &__menu {
            width: 79vh;
        }
    }
}
