.button {
    width: 180px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
        color: #c0301c;
        background: #ffffff;
    }
    &_main {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }
}
